
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    width: 100%;
    
  
}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: #ffffff;
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif;
}
/*inicio de menu*/
.navbar-brand:hover{
    font-size: 1.3rem ;
}
.nav-link{
    color: #aa7d7a !important;
}

.nav-link:hover{
    font-size: 1.3rem;
    font-weight: 600;
    
}
.nav-color{
    background-color: #f9f9f8 !important;
}



.sct-form{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2%;
    color: #343d41;
}
.font-size{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.btn-primary{
    font-weight: 600;
    background-color: #cca5a2;
    border-color: #cca5a2;
    color: #ffffff;
    border-width: 2px;
    padding: 10px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #aa7d7a;
    border-color: #aa7d7a;
  }
.contacto{
    width: 80%;
    margin: 0 auto;
    background-color:#f9f9f8 ;
}

.contacto__dire{
    margin-top: 1.5rem;
}
.contacto__dire h2{
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
}

.contacto__dire img{
    width: 1.5rem;
}
.contacto__googlemaps{
    margin-top: 2rem;
}
.contacto__googlemaps iframe{
    width: 100%;
}


/* inicia footer*/

.footer {
    background-color: #343d41;
    margin: 0 auto;
    bottom: 0;
    color: #ffffff; 
    padding: 2rem;
    width: 100%;
    margin-top: 4rem;
}
.footer__contacto {
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
    width: 1.3rem; 
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}

@media only screen and (min-width: 370px) and (max-width: 600px){
    .font-size{
        font-size: 1rem;
    }
    .contacto__dire h2{
        font-size: 1.1rem;
    }
    .font-size{
        font-size: 1rem;
       
    }

    .footer__contacto h2 {
        font-size: 1rem;
    }
    .footer__contacto h3{
        font-size: 0.9rem;
    }
    .footer__copyR h3{
        font-size: 0.9rem;

    }

}



}