
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    width: 100%;
    
  
}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: #ffffff;
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif;
}
/*inicio de menu*/
.nav-color{
    background-color: #f9f9f8 !important;
}
.text-menu{
    font-size: 1.0rem;
    font-weight: 500;
    color: #343d41;

}
.color-brand{
    color: #343d41;
    font-size: 1.4rem;
}

.sct-form{
    width: 80%;
    margin: 0 auto;
    
    margin-top: 4rem;
    padding: 2%;
    color: #343d41;
}
.font-size{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
/* fin del menu, inicio imagen de fondo con titulo */
/* inicio formulario*/

.boton{
    background-color: #cca5a2;
    border-color: #cca5a2;
    color: #ffffff;
    
}
.contacto{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    background-color:#f9f9f8 ;

}

.contacto__dire{
    margin-top: 1.5rem;
}
.contacto__dire h2{
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
}

.contacto__dire img{
    width: 1.5rem;
}
.contacto__googlemaps iframe{
    width: 100%;
}
.contacto__googlemaps h2{
    font-size: 1.3rem;
    letter-spacing: 1px;
    height: 2.6rem;
    width: 10rem;
    background-color: #343d41;
    color: #ffffff; 
    text-align: center;
    padding: 0.5rem;
}

.borde-final{
    min-height: 5vh;
}
/* inicia footer*/

.footer {
    background-color: #343d41;
    margin: 0 auto;
    bottom: 0;
    color: #ffffff; 
}
.footer__contacto {
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
    width: 1.3rem; 
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}
  