*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    width: 100%;
    
  
}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: #ffffff;
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif;
}
/*inicio de menu*/
.nav-color{
    background-color: #f9f9f8 !important;
}
.sct-informacion{
    width: 80%;
    min-height: 46vh;
    color: #343d41;
    margin: 0 auto;
    padding: 1rem;

}
.sct-informacion__h2 h2{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
 
.sct-informacion__alerta{
    background-color: #aa7d7a1c;
    color:#343d41;
    font-size: 1.3rem;
}

.sct-informacion__alerta h2{
    
}
.font-size h2{
    font-size: 1.4rem;
    font-weight:500;
    letter-spacing: 1px;
}
.font-size h3{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.sct-cursoLift{
    width: 80%;
    min-height: 64vh;
    color: #343d41;
    margin: 0 auto;
    padding: 1rem;

}
.sct-cursoLift__info{
    margin-bottom: 3rem;

}
.sct-cursoLift__info h2{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;

}

.sct-cursoLift__info p{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
}


.font-size-ul{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.sct-cursoCejas__valores{
    margin-top: 4rem;
}

.sct-cursoLift__valores h2{
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.font-size{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.sct-cursoCejas{
    width: 80%;
    min-height: 54vh;
    color: #343d41;
    margin: 0 auto;
    padding: 1rem;

}
.sct-cursoCejas__info h2{
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.sct-cursoCejas__info p{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.2;

}

.sct-cursoCejas__valores h2{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 600;

}

.sct-info2{
    width: 80%;
    min-height: 32vh;
    color: #343d41;
    margin: 0 auto;
    padding: 1rem;

}

.sct-info2__h2 h2{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.sct-info2__p{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.sct-formulario{
    width: 80%;
    min-height: 76vh;
    color: #343d41;
    margin: 0 auto;
    padding: 1rem;
}

.sct-formulario h2{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.5px;

}

.sct-formulario__form{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
.footer {
    background-color: #343d41;
    
    margin: 0 auto;
    
   
    bottom: 0;
    color: #ffffff; 
}
.footer__contacto {
     
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
    width: 1.3rem;
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}
  