*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    width: 100%;
    
  
}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: #ffffff;
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif;
}
/*inicio de menu*/
.nav-color{
    background-color: #f9f9f8 !important;
}

.lifting{ 
    margin-top: 6rem;
    

}

 
.lifting__explicacion h2{
     font-size: 1.4rem;
     font-weight: 600;
     font-family: 'Darker Grotesque', sans-serif;
     color: #343d41;
     margin-bottom: 1rem;
   
}

.lifting__explicacion__texto{
    line-height: 1.2;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-family: 'Darker Grotesque', sans-serif;
}

.cejas{
   
    background-color: #f9f9f8;
}

.cejas article{
    
    padding: 1.5rem;
}
.cejas h2{
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: 'Darker Grotesque', sans-serif;
    margin-bottom: 1rem;
}
.cejas p{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
}
.faq{
    
    margin-top: 2rem;
    
}
.faq h2{
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.faq p{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
    
}
.footer {
    background-color: #343d41;
    margin: 0 auto; 
    bottom: 0;
    color: #ffffff; 
}
.footer__contacto {
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
    width: 1.3rem;
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}
  
