@import './colores';
*{
    margin: 0;
    padding: 0;
}
html{
    
    height: 100%;
    width: 100%;

}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: rgb(255 255 255);
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif !important;
    
}
/*inicio de menu*/
.header{
    padding: 2px;
    text-align: center;
    letter-spacing: 0,5px;
    background-color: rgb(255 255 255);
    width: 100%;   
    position: fixed;
    height: 10%;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}
.header__menu{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}
.header__menu ul{
    list-style: none;
    background-color: rgb(255 255 255 / 80%);
    color: rgb(170 125 122);
    display: flex;
   
}
.header__menu ul li{
    color: rgb(170 125 122);
    position: relative;
    width: 24%;
      
}

.header__menu ul li a:hover{
    color: rgb(52 61 65);
   
}
.header__menu ul li a{
    color: rgb(170 125 122);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    background-color: rgb(255 255 255 / 20%);

}

.header__menu ul li:hover ul{
    display: block;

}


.sct-info{
    width: 80%;
    margin: 0 auto;
    min-height: 50vh;
    margin-top: 2%;
    padding: 2%;
    color: $color-footer;
}

.sct-info__informacion{
    margin-top: 4rem;
}
.sct-info__informacion__h2 h2{
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.sct-info__informacion__texto{
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.sct-precios{
    width: 80%;
    margin: 0 auto;
    min-height: 50vh;
    margin-top: 2%;
    padding: 2%;
    color: #343d41;
    background-color: #f9f9f8;

}

.sct-precios__h2{
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.sct-precios__h2 h2{
    font-size: 1.2rem; 
    color: #ffffff;
    background-color: #343d41; 
    font-weight: 600;
    height: 2.6rem;
    padding: 0.5rem;
    text-align: center;
    width: 18rem;
    
}
.sct-form{
    width: 80%;
    margin: 0 auto;
    min-height: 70vh;
    margin-top: 2%;
    padding: 2%;
    color: #343d41;
}
.font-size{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}


/* inicia footer*/

.footer {
    background-color: #343d41;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    height: 28%;
    bottom: 0;
    color: #ffffff; 
}
.footer__contacto {
      width: 80%;
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
        width: 3%; 
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}
  
