@import './colores';
*{
    margin: 0;
    padding: 0;
}
html{
    
    height: 100%;
    width: 100%;

}
body{
    height: 100%;
   /* background-color: rgb(251 251 250);*/
    background-color: rgb(255 255 255);
    color: #343d41;
    font-family: 'Darker Grotesque', sans-serif !important;
    
}
/*inicio de menu*/
.nav-color{
    background-color: #f9f9f8 !important;
}

.sct-info{
    width: 80%;
    margin: 0 auto;
    
    margin-top: 2%;
    padding: 2%;
    color: #343d41; ;
}

.sct-info__informacion{
    margin-top: 4rem;
}
.sct-info__informacion__h2 h2{
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.sct-info__informacion__texto{
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.sct-precios{
    width: 80%;
    margin: 0 auto;
    
    margin-top: 2%;
    padding: 2%;
    color: #343d41;
    background-color: #ffffff;

}

.sct-precios__h2{
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.sct-precios__h2 h2{
    font-size: 1.2rem; 
    color: #ffffff;
    background-color: #343d41; 
    font-weight: 600;
    height: 2.6rem;
    padding: 0.5rem;
    text-align: center;
    width: 18rem;
    
}

.sct-form{
    width: 80%;
    margin: 0 auto;
    
    margin-top: 2%;
    padding: 2%;
    color: #343d41;
    background-color: #f9f9f8 ;
}
.font-size{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}


/* inicia footer*/

.footer {
    background-color: #343d41;
    
    margin: 0 auto;
    
   
    bottom: 0;
    color: #ffffff; 
}
.footer__contacto {
     
      margin: 0 auto; 
}
.footer__contacto h2 {
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 1px;
        line-height: 1.4; 
}
.footer__contacto__redes img {
    width: 1.3rem;
}
.footer__contacto h3 {
        display: inline-block;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4; 
}
  
.footer__copyR h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4; 
}
  