@import './colores';


$width-sct: 20rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    background-color: $color-principal;
    font-family: 'Darker Grotesque', sans-serif; 
        
}

/*inicio de menu*/
.navbar-brand:hover{
    font-size: 1.3rem ;
}
.nav-link{
    color: #aa7d7a !important;
}

.nav-link:hover{
    font-size: 1.1rem;
    font-weight: 600;
    
}
.nav-color{
    background-color: #f9f9f8 !important;
}

/* fin del menu, inicio imagen de fondo con titulo */

.backcolor{
    background-color: $color-principal;
}
.slider{
    height: 100%;
        .slider__img{
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
            object-fit: cover;
            overflow: auto;

         }
}

.titulo{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-top: 2%;
    
    padding: 2%;

    h1{
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 4px;
        font-family: 'Darker Grotesque', sans-serif;
    }    
    h2{
        font-size: 1.6rem;
        font-family: 'Darker Grotesque', sans-serif;
    
    }
}

.sct2{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    color: $color-footer;
    background-color: $color-secundario;
  
    .sct2__intro{
        letter-spacing: 1px;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.2;

            p{
                font-size: 1.3rem;
            }
    }
    .sct2__imagsct2{
        width: 50%;
    
        .sct2__imagsct2__imgeuge{
            width: 100%;
         }
    
    }      
}

.inlineblock{
  
    display: inline-block;
    height: 0px;
    margin-top: 5px;
    padding: 5px;
  
}

/* fin de seccion 2, inicio seccion 3 servicios mas buscados */

.sct3{
    width: 80%;
    
    color: $color-footer;
    background-color: #ffffff;
    margin-top: 4rem;

    .sct3__servicios{
                width: 36%;
                margin-bottom: 1.5rem;
                background-color: $color-footer;
                border-radius: 0.25rem;

                    h3{
                        text-align: center;
                        letter-spacing: 1px;
                        font-size: 1.3rem;
                        font-weight: 600;
                        padding: 0.5rem;
                        background-color: $color-footer;
                        color: $color-principal;
                        border-radius: 0.25rem;
                        
                    }
    }
    .sct3__article{
        margin-top: 2%;

        .sct3__article__box{
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #f9f5f5;
            background-clip: border-box;
            border: 1px solid #00000020;
            border-radius: 0.25rem;
            height: 28rem;

        }
    }
    
}
.margenes{
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    height: 94%;
    background-color: $color-secundario !important;
}
.bordes{
    padding: 1rem;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.card-text{
    font-size: 1.2rem;
    height: 8rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    opacity: 0.8;
    filter: brightness(0.9);
}
/*
#margenAlto{
    margin-top: 1rem;
}  
*/
.card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/*
#mrgBot{
    margin-bottom: 1.5rem;
}
#margenBajo{
    margin-bottom: 3.1rem;
}
*/
.btn-primary{
    font-weight: 600;
    background-color: #cca5a2;
    border-color: #cca5a2;
    color: #ffffff;
    border-width: 2px;
    padding: 10px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #aa7d7a;
    border-color: #aa7d7a;
  }
/* fin seccion 3, inicio imagen de fondo con titulo */

.sct4{
    width: 80%;
    margin: 0 auto ;
    margin-top: 4rem;
    background-color: $color-secundario;
    
    margin-bottom: 2%;

        .sct4__h2{

            text-align: left;
            letter-spacing: 1px;
            font-size: 1.3rem;
            width: 100%;
            font-weight: 600;
            margin: 0 auto;
            margin-bottom: 2rem;

                h2{
                    font-size: 1.3rem;
                    font-weight: 600;
                    border-radius: 0.25rem;
                    background-color: $color-footer;
                    color: $color-principal;
                    width: 60%;
                    padding: 0.5rem;
                    text-align: center;
                
                }
        }

        .sct4__article4 {
            
            color: $color-footer;
            margin-top: 1rem;
                        .sct4__article4__box {
                                font-size: 1.3rem;
                                letter-spacing: 0.5px;
                                line-height: 1.5;
                                            
                                        }
                        }
                        
}  

/* inicia footer*/

.footer{
    background-color: $color-footer;
    margin: 0 auto;
    bottom: 0;
    color: $color-principal;
    padding: 2rem;
    width: 100%;

        .footer__contacto{
            margin: 0 auto;

                h2{
                    font-size: 1.2rem;
                    text-align: left;
                    letter-spacing: 1px;
                    line-height: 1.4; 
                }
        }


        .footer__contacto__redes{
                img{
                     width: 1.3rem;
                }
                h3{
                display: inline-block;
                font-size: 1rem;
                text-align: center;
                letter-spacing: 1px;
                line-height: 1.4;
                }
        }
  
        .footer__copyR h3{
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            color: $color-principal;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.4;
        }
}

@media only screen and (max-width: 480px){
    .sct3__servicios{
        width: 100%;
    }

}

